---
import "../styles/style.css";

import Header from "../layouts/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import InfoSection from "../components/InfoSection.astro";
import EventSection from "../components/EventSection.astro";
import NewCollectionSection from "../components/NewCollectionSection.astro";
import Footer from "../layouts/Footer.astro";
import Button from "../components/Button.astro";
import Banner2 from "../components/Banner2.astro";
import Banner1 from "../components/Banner1.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bareen X GAME</title>
  </head>

  <body>
    <Header />
    <HeroSection />
    <main>
      <InfoSection img="images/billede3.webp" title="Når stil møder streetkultur med et formål" text="Vi er stolte af at indgå et meningsfuldt samarbejde med den sociale organisation GAME, hvor vi kombinerer mode, fællesskab og forandring. Med fælles værdier om inklusion, styrkelse af unge og kærligheden til streetkulturen, er partnerskabet et naturligt match. Samarbejdet skal sætte fokus på unges muligheder – både gennem events, kampagner og en særlig kollektion, hvor en del af overskuddet går direkte til GAME’s arbejde med at skabe trygge, motiverende fællesskaber i udsatte boligområder." />
      <Banner1 />
      <InfoSection img="images/billede4.webp" text="Vi tror på, at stil og statements kan gå hånd i hånd. Ved at arbejde sammen med GAME, kan vi bruge vores platform til at støtte unge talenter og skabe positiv forandring, både på og uden for gaden. GAME arbejder til dagligt for at gøre gadeidræt og streetkultur til en vej ind i fællesskab og empowerment – noget, vi vil være med til at bakke op om, både symbolsk og praktisk. Kollektionen og samarbejdet lanceres med et kickoff-event fyldt med streetbasket, dans, musik og DJ-sets. " isReversed={true} />
      <Banner2 />
      <EventSection />
      <NewCollectionSection />
    </main>
    <Footer />
  </body>
</html>
