---

---

<div>
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/f745de6a-1f3c-4e42-a3d8-3ad4ddae5ca6/kG4wuK9Po9.lottie" background="transparent" speed="0.5" loop autoplay></dotlottie-player>
</div>

<style>
  .banner {
    width: 100vw;
    height: 50%;
  }
</style>
