---
const { text } = Astro.props;
---

<button>{text}</button>

<style>
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1.4rem;
    color: var(--color-quaternary);
    background-color: var(--color-accent);
    text-align: center;
    cursor: pointer;
    width: fit-content;
    font-family: var(--font-text);
    font-size: var(--font-size-text-mobile);
    font-weight: 500;
  }
</style>
