---
import Button from "../components/Button.astro";
---

<div class="grid-1-1">
  <div class="margin">
    <img src="images/hero.png" alt="logo" />
  </div>
  <div>
    <img src="images/billede2.webp" alt="hero" />
  </div>
</div>
<div class="line"></div>
<div class="flex">
  <a href="/src/components/InfoSection.astro">
    <Button text="EXPLORE EVENT" />
  </a>
  <div class="vl"></div>
  <a href="/src/components/NewCollectionSection.astro">
    <Button text="VIEW COLLECTION" />
  </a>
</div>

<style>
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  video {
    width: 100%;
    height: auto;
    display: block;
  }

  .vl {
    border-left: 1px solid black;
    height: 438px;
    position: absolute;
    left: 50%;
    top: 90px;
  }
  .line {
    width: 100vw; /* Gør stregen lige så bred som hele viewport */
    height: 1.7px;
    background-color: black;
    margin-bottom: 1.8rem;
    position: relative; /* Sørger for at den følger layoutet */
    left: 50%; /* Centrerer elementet horisontalt */
    margin-left: -50vw; /* Justerer så stregen går helt ud til kanten */
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .margin {
    padding-left: 50px;
    width: 80%;
    height: auto;
  }
  @media (min-width: 1024px) {
    .vl {
      border-left: 1.7px solid black;
      height: 1227px;
      position: absolute;
      left: 50%;
      top: 97px;
    }
  }
</style>
