---
const { title, text, img, alt, isReversed } = Astro.props;
---

<div class="divider"></div>
<div class=`card ${isReversed && "reversed"}`>
  <img src={img} alt={alt} />
  <div>
    <h1>{title}</h1>
    <p>{text}</p>
  </div>
</div>
<div class="divider"></div>

<style>
  @media (min-width: 1024px) {
    .card {
      display: flex;

      gap: 10px;
    }
    .reversed {
      flex-direction: row-reverse;
    }
  }
</style>
