---
const { title } = Astro.props;
const { text } = Astro.props;
const { img } = Astro.props;
const { alt } = Astro.props;
---

<div class="divider"></div>

<div class="grid-1_1">
  <img src={img} alt={alt} />
  <div>
    <h1>{title}</h1>
    <p>{text}</p>
  </div>
</div>
<div class="divider"></div>

<style>
  @media (min-width: 1024px) {
    .grid-1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
</style>
