---
---


<header>
   <nav class="menu">
        <ul>
            <li class="right"><a href=#aboutthecollab">About the collab</a></li>
            <li class="right"><a href="#mission">Event</a></li>
        </ul>
        <br>

    </nav>
   
</header>


<style>

header {
 
  background-color: #353535;
  z-index: 1000;
  display: flex;
  justify-content:end;
  text-align:center;
  align-items: center;
  padding: 30px; 
}

.menu {
  width: 100%;
}

.menu ul {
  display: flex;
  width: 100%; 
  align-items: center;
  padding: 0;
  list-style: none;
}

.left {
   margin-right:10px; 
}

.right {
 padding-left: 40rem;
}

.menu li {
  margin-right: 10px;
}

.menu a {
  display: inline-block;
  color:white;
  text-decoration: none;
}

@media (max-width: 768px) {

  header {
  background-color: #353535;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
  height: 5.5rem;
}
}
</style>

